@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(135deg, #f50, #a2e);
}
.container {
  width: 70%;
  position: relative;
  text-align: center;
  height: 80%;
  border-radius: 10px;
  background-color: #ccc;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3),
    0 0 5px 2px rgba(0, 0, 0, 0.4);
}
.btn {
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.1s linear;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(4px);
}
.btn_newgame {
  top: 100px;
  width: 200px;
  margin-left: -100px;
}
.btn_roll {
  top: 750px;
  width: 180px;
  margin-left: -90px;
}
.btn_hold {
  top: 850px;
  width: 130px;
  margin-left: -65px;
}
#img {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 300px;
  left: 50%;
  margin-left: -75px;
  z-index: 99;
}
.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 50%;
}
h1 {
  margin: 180px 0 70px;
  font-size: 50px;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#player1_score,
#player2_score {
  font-size: 100px;
  color: #ca04a2;
}
.current {
  margin-top: 280px;
  width: 45%;
  height: 200px;
  border-radius: 10px;
  background-color: #f73;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 5px 3px 7px 2px rgba(0, 0, 0, 0.3);
}
h3 {
  margin: 30px;
}
#player1_current,
#player2_current {
  font-size: 50px;
}
.inactive1,
.inactive2 {
  position: absolute;
  height: 100%;
  left: 0;
  width: 50%;
  z-index: 9;
  background-color: #000;
  opacity: 0.3;
}
.inactive2 {
  left: 50%;
}
